# Core dependencies
numpy
pandas
python-dotenv

# LLM and Embeddings
ollama
openai
sentence-transformers
transformers
torch
torch-geometric
peft
bitsandbytes

# Data Science and ML
scikit-learn
umap-learn
seaborn
matplotlib
plotly
datasets
huggingface-hub

# Image Processing
pillow
imagehash

# NLP and Text Processing
textblob
nltk

# API and Web
fastapi
uvicorn

# Training and Monitoring
wandb
tqdm

# Utilities
pydantic

# Optional - for testing
pytest

# BLEU score
nltk

# ROUGE score
rouge-score

# BM25 score
rank-bm25

# Validation
evaluate

# Image Scraper
icrawler
fake-useragent