ollama
openai
chromadb
llama-cpp-python
numpy   
appdirs 
pydantic
torch
pytest
transformers
scikit-learn
sentence-transformers
openai
langchain
pandas
tqdm
plotly
seaborn
matplotlib
umap-learn
scipy
peft
datasets
tiktoken
tqdm
blobfile
sentencepiece
pydantic-settings
huggingface-hub
nltk
textblob
networkx
pygame
statistics

